# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.dynamodb

# esbuild directories
.esbuild

# IDE derictories
.idea
.vscode

# environment variables
.env

# Local crawler for the post.lt website
src/functions/post-lt-philately-watcher/local-crawler